body {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    user-select: none;
}

/* Other Styles */
.main-container {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

.title {
    box-sizing: border-box;
}

.input-container,
.output-container {
    margin-top: 1.4em;
    margin-bottom: 1em;
    display: grid;
    column-gap: 8px;
    row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.data__input,
.output-container span {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 500;
    text-align: right;
    padding-left: 3px;
}

.input-container span {
    justify-self: left;
}

.output-container p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.output-container span {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding-right: 16px;
}

/* Style of ACCORDION */
.accordion,
.title {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background-color: #009578;
}

.accordion__label,
.accordion__content,
.title {
    padding: 14px 20px;
}

.accordion__label,
.title h3 {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s;
}

.accordion__label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content {
    background-color: #fff;
    line-height: 1.3;
    font-size: 1em;
    display: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}
